@use '../../style/mixin' as *;

li {
    list-style: none;
}

img {
    width: 80%;

}

.carousel {

    display: flex;

    &__container {
        display: flex;
    }


    &__button {
        @include button;
        font-size: 2rem;
        width: 5%;
        border: none;
        
    }

    &__container {
        background-color: lightsteelblue;
        width: 65vw;

    }

    &__video {

        width: 80%;
        height: 12rem;

    }
}